/* generic */

*{
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: #fff;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}


body{
    background-color: rgb(215, 211, 211);
    
}

section{
    height: 10%;
    line-height: inherit;
    border-bottom: 1px solid #D7D3D3;
    vertical-align: middle;
}
.top-side{
    margin-left: 50px;
    line-height: 71px;
    vertical-align: middle;
}

button{
    vertical-align: middle;
    border-radius: 10%;
    padding: 5px 10px;
    
}


#new-task-button{
    color: #fff;
    background-color: rgb(10, 179, 246);
    border: solid 0.5px rgb(10, 179, 246);
}
#new-section-button{
    color: #dedede;
    background-color: rgb(251, 252, 253);
    border: solid 0.5px;
}
/* utilities */
.container{
    display: block;
    height: 720px;
    width: 1080px;
    background-color: rgb(249, 247, 247);
    
}

.actions{
    font-size: xx-small;
    font-family:Arial, Helvetica, sans-serif ;
   
}

.page-modifiers{
    
}

/* header */

#logo{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;

}

#page-title{
    display: inline;
    vertical-align: middle;
    
}

/* body */

#page-core{
    margin:90px auto;
}

hr{
   
    
}
