/* generic */

*{
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(215, 211, 211);
    
}
/* utilities */
.container{
    display: block;
    height: 720px;
    width: 1080px;
    background-color: rgb(249, 247, 247);
    margin: 60px auto;
    
}
.status{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid ;
    border-radius: 50%;
    vertical-align: middle;

}
.done{
    text-align: center;
    color: green;
    line-height: 20px;
    font-size: 15px;
}

.undone{
    color: red;
}

.task-description{
    display: inline-block;
    border-radius: 15px;
    color: #fff;
    vertical-align: middle;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.blue{
    background-color: #45ABEA;
}

.purple{
background-color:rgb(156,114,228) ;
}

.green{
background-color: rgb(100,192,169);
}

.orange{
background-color: rgb(242,158,51);
}

.pink{
background-color: rgb(216,99,161);
}

.lightgreen{
background-color:rgb(176,201,37) ;
}

/* header */

#logo{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;

}

#page-title{
    display: inline;
    vertical-align: middle;
    
}

header{
    height: 80px;
    background-color: #fff;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}


/* actions */

section{
    height: 10%;
    line-height: inherit;
    border-bottom: 1px solid #D7D3D3;
    vertical-align: middle;
}
.top-side{
    margin-left: 50px;
    line-height: 71px;
    vertical-align: middle;
}

button{
    vertical-align: middle;
    border-radius: 10%;
    padding: 5px 10px;
    
}


#new-task-button{
    color: #fff;
    background-color: rgb(10, 179, 246);
    border: solid 0.5px rgb(10, 179, 246);
}
#new-section-button{
    color: #dedede;
    background-color: rgb(251, 252, 253);
    border: solid 0.5px;
}

.actions{
    font-size: xx-small;
    font-family:Arial, Helvetica, sans-serif ;
   
}

/* tasks */

.tasks{
    border: none;
    margin-left: 50px;
    margin-top: 40px;

}
li{
    list-style-type: none;
    margin-bottom: 20px;
}

h1{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#checkmark{
    vertical-align: middle;
}

